 a {
text-decoration:none;
}
 img {
max-width:100%;
}
 .donotshowthis {
display: none;
 height:0.1px!important;
 pointer-events: none;
}
a{
text-decoration-line:none;
text-decoration-style:initial;
text-decoration-color:initial;
}
img{
max-width:100%;
}
.cor-c9827{
color:black;
width:50px;
margin-top:0px;
margin-right:auto;
margin-bottom:0px;
margin-left:auto;
}
.cor-c9827.cor-c9827-center{
margin-top:0px;
margin-right:auto;
margin-bottom:0px;
margin-left:auto;
width:51px;
height:32px;
}
#headback-bottom-box{
margin-right:auto;
margin-left:auto;
height:auto;
padding-right:40px;
padding-left:40px;
width:100%;
padding-top:100px;
padding-bottom:100px;
text-align:center;
background-image:url("../images/estsbfinal-b1c.png");
background-attachment:fixed;
background-size:cover;
opacity:1;
}
.headerseparator{
padding-top:8px;
text-align:center;
height:36px;
color:rgb(224, 224, 224);
background-image:repeating-linear-gradient(45deg, rgb(66, 65, 65), rgb(66, 65, 65) 10px, rgb(31, 36, 40) 10px, rgb(31, 36, 40) 20px);
background-position-x:initial;
background-position-y:initial;
background-size:initial;
background-repeat-x:initial;
background-repeat-y:initial;
background-attachment:initial;
background-origin:initial;
background-clip:initial;
background-color:initial;
}
#icyhsk{
padding-top:8px;
text-shadow:rgb(0, 0, 0) 2px 2px 4px;
text-align:center;
height:36px;
color:rgb(224, 224, 224);
background-image:repeating-linear-gradient(45deg, rgb(66, 65, 65), rgb(66, 65, 65) 10px, rgb(31, 36, 40) 10px, rgb(31, 36, 40) 20px);
background-position-x:initial;
background-position-y:initial;
background-size:initial;
background-repeat-x:initial;
background-repeat-y:initial;
background-attachment:initial;
background-origin:initial;
background-clip:initial;
background-color:initial;
}
#ic77sn5{
max-width:1200px;
height:auto;
padding-top:20px;
padding-right:40px;
padding-bottom:40px;
padding-left:40px;
text-align:center;
margin-top:0px;
margin-right:auto;
margin-bottom:20px;
margin-left:auto;
opacity:1;
}
#icmowj3{
font-variant-ligatures:normal;
font-variant-numeric:normal;
font-variant-east-asian:normal;
color:rgb(230, 230, 230);
max-width:900px;
font-size:40px;
line-height:60px;
font-family:Georgia, serif;
padding-top:10px;
padding-right:10px;
padding-bottom:10px;
padding-left:10px;
font-style:normal;
font-variant-caps:normal;
font-weight:normal;
font-stretch:normal;
margin-top:5px;
margin-right:auto;
margin-bottom:5px;
margin-left:auto;
}
#ichp96i{
font-size:74px;
font-weight:600;
letter-spacing:5px;
color:rgb(255, 255, 255);
font-family:Arial, Helvetica, sans-serif;
line-height:130px;
text-align:center;
opacity:1;
}
#ic2ymn2{
margin-right:auto;
margin-left:auto;
height:auto;
width:100%;
padding-top:120px;
padding-right:40px;
padding-bottom:120px;
padding-left:40px;
background-color:rgb(246, 246, 246);
background-image:url("../images/pattern3-ddf.png");
background-attachment:scroll;
background-size:auto;
text-align:center;
color:rgb(0, 0, 0);
opacity:1;
}
#ic06phx{
width:100%;
margin-right:auto;
margin-left:auto;
max-width:1200px;
padding-top:10px;
padding-right:10px;
padding-bottom:10px;
padding-left:10px;
text-align:left;
}
#icpil3l{
clear:both;
}
#ic73zyf{
color:black;
width:97%;
max-width:583px;
box-shadow:rgba(35, 35, 35, 0.3) 2px 2px 12px 3px;
height:298.488px;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-right-radius:0px;
border-bottom-left-radius:0px;
top:0px;
max-height:278px;
min-width:auto;
margin-top:17px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
}
#ic0k4vv{
font-variant-ligatures:normal;
font-variant-numeric:normal;
font-variant-east-asian:normal;
font-size:36px;
padding-top:10px;
padding-right:10px;
padding-bottom:10px;
padding-left:40px;
font-style:normal;
font-variant-caps:normal;
font-weight:normal;
font-stretch:normal;
line-height:normal;
color:rgb(68, 68, 68);
font-family:Arial, Helvetica, sans-serif;
}
.cor-autumn-about-image{
float:left;
width:40%;
min-height:75px;
}
.cor-autumn-about-text{
float:left;
width:60%;
min-height:75px;
}
.cor-containercards-width{
width:90%;
max-width:1000px;
margin-top:0px;
margin-right:auto;
margin-bottom:0px;
margin-left:auto;
}
.cor-flex-sect{
background-color:rgb(246, 246, 246);
padding-top:100px;
height:auto;
padding-right:0px;
padding-bottom:100px;
padding-left:0px;
font-family:Helvetica, serif;
text-align:center;
top:0px;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-right-radius:0px;
border-bottom-left-radius:0px;
transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
}
.cor-flex-title{
font-size:36px;
text-align:center;
color:rgb(68, 68, 68);
padding-top:5px;
padding-right:5px;
padding-bottom:5px;
padding-left:5px;
margin-bottom:0px;
margin-top:0px;
margin-right:0px;
margin-left:0px;
font-family:Arial, Helvetica, sans-serif;
font-weight:700;
}
#icm9n9k{
margin-right:auto;
margin-left:auto;
height:auto;
width:100%;
background-image:url("../images/parallax2-9de.jpg");
background-attachment:fixed;
padding-top:70px;
padding-right:40px;
padding-bottom:70px;
padding-left:40px;
text-align:center;
background-size:cover;
background-position-x:50%;
background-position-y:50%;
}
.cor-flex-sect:hover{
box-shadow:rgb(68, 68, 68) 1px 0px 5px 1px;
}
#iciv4dt{
margin-right:auto;
margin-left:auto;
height:auto;
padding-top:20px;
padding-right:40px;
padding-bottom:20px;
padding-left:40px;
width:100%;
text-align:center;
color:rgb(0, 0, 0);
opacity:1;
background-color:#1c2f4f;
}
#ic9r1t6{
display:inline-block;
padding-top:5px;
padding-right:5px;
padding-bottom:5px;
padding-left:5px;
min-height:50px;
min-width:50px;
}
#iclajac{
color:black;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-right-radius:0px;
border-bottom-left-radius:0px;
transition-duration:0.7s;
transition-timing-function:ease;
transition-delay:initial;
transition-property:all;
width:30px;
}
#icem21c{
display:inline-block;
padding-top:5px;
padding-right:5px;
padding-bottom:5px;
padding-left:5px;
min-height:50px;
min-width:50px;
}
#ich2fu1{
color:black;
transition-duration:0.7s;
transition-timing-function:ease;
transition-delay:initial;
transition-property:all;
width:30px;
}
#iclajac:hover{
box-shadow:rgb(68, 68, 68) 1px 1px 50px 50px inset;
transition-duration:0.7s;
transition-timing-function:ease;
transition-delay:initial;
transition-property:all;
}
#ich2fu1:hover{
box-shadow:rgb(68, 68, 68) 0px 0px 50px 50px inset;
transition-duration:0.7s;
transition-timing-function:ease;
transition-delay:initial;
transition-property:all;
}
.cor-container-width{
width:100%;
margin-top:30px;
margin-right:auto;
margin-bottom:0px;
margin-left:auto;
text-align:center;
}
.cor-bdg-sect{
padding-top:100px;
padding-bottom:100px;
font-family:Helvetica, serif;
background-color:rgb(246, 246, 246);
border-bottom-width:1px;
border-bottom-style:solid;
border-bottom-color:rgb(211, 210, 210);
border-right-width:1px;
border-right-style:solid;
border-right-color:rgb(211, 210, 210);
border-left-width:1px;
border-left-style:solid;
border-left-color:rgb(211, 210, 210);
background-image:url("../images/pattern3-ddf.png");
background-attachment:scroll;
background-size:auto;
color:rgb(238, 219, 187);
}
#ica8dyq{
width:100%;
height:1px;
background-color:rgb(68, 68, 68);
max-width:180px;
margin-top:0px;
margin-right:auto;
margin-bottom:20px;
margin-left:auto;
}
#icxogsc{
margin-right:auto;
margin-left:auto;
height:auto;
padding-top:10px;
padding-right:40px;
padding-bottom:10px;
padding-left:40px;
width:100%;
text-align:center;
}
#icizpjw{
padding-top:5px;
padding-right:10px;
padding-bottom:5px;
padding-left:10px;
font-style:normal;
font-variant-caps:normal;
font-variant-ligatures:normal;
font-variant-numeric:normal;
font-variant-east-asian:normal;
font-weight:normal;
font-stretch:normal;
line-height:normal;
color:rgb(255, 255, 255);
font-family:Georgia, serif;
font-size:10px;
}
.cor-c9827.c9827-center{
min-width:80px;
width:271px;
height:62px;
}
#icx9xeg{
height:350px;
max-width:1200px;
margin-top:0px;
margin-right:auto;
margin-bottom:0px;
margin-left:auto;
box-shadow:rgba(35, 35, 35, 0.3) 2px 2px 12px 3px;
width:100%;
display:block;
}
.servic17248{
color:black;
width:49px;
height:50px;
}
.anim-g282d{
padding-top:10px;
padding-right:10px;
padding-bottom:10px;
padding-left:10px;
top:5px;
float:none;
display:inline-block;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-right-radius:0px;
border-bottom-left-radius:0px;
transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
right:0px;
position:static;
opacity:1;
}
.servicard{
height:210px;
width:300px;
margin-bottom:30px;
transition-duration:0.5s;
transition-timing-function:ease;
transition-delay:initial;
transition-property:all;
font-weight:100;
overflow-x:hidden;
overflow-y:hidden;
text-align:center;
padding-top:15px;
padding-right:0px;
padding-bottom:0px;
padding-left:0px;
background-color:rgba(220, 220, 220, 0.44);
color:rgb(0, 0, 0);
position:relative;
opacity:1;
transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
float:none;
top:-3px;
right:7px;
border-top-left-radius:0px;
border-top-right-radius:2px;
border-bottom-right-radius:2px;
border-bottom-left-radius:2px;
}
.servicard:hover{
margin-top:-5px;
box-shadow:rgba(0, 0, 0, 0.2) 0px 20px 30px 0px;
}
.servicard- .servicard-title{
font-size:16px;
margin-bottom:5px;
color:rgb(76, 76, 76);
font-weight:700;
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.servicard-sub-title{
color:rgb(111, 111, 111);
font-size:1em;
margin-bottom:15px;
}
.servicard-desc{
font-size:15px;
line-height:17px;
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
color:rgb(101, 101, 101);
}
.tganimate.fadeInUp.anim-t239s{
display:inline-block;
padding-top:10px;
padding-right:10px;
padding-bottom:10px;
padding-left:10px;
}
#iceqgxz{
width:100%;
min-height:5px;
}
.anim-ixojo{
display:inline-block;
padding-top:10px;
padding-right:10px;
padding-bottom:10px;
padding-left:10px;
}
.anim-jvbom{
display:inline-block;
padding-top:10px;
padding-right:10px;
padding-bottom:10px;
padding-left:10px;
}
.anim-vdrk6{
display:inline-block;
padding-bottom:0px;
padding-top:0px;
padding-right:10px;
padding-left:10px;
margin-top:30px;
margin-right:0px;
margin-bottom:40px;
margin-left:0px;
}
.anim-uqr4n{
display:inline-block;
padding-top:0px;
padding-bottom:0px;
padding-right:10px;
padding-left:10px;
}
.anim-i6bv8{
display:inline-block;
width:100%;
max-width:1200px;
padding-top:10px;
padding-right:10px;
padding-bottom:10px;
padding-left:10px;
}
#is0fin{
font-size:74px;
font-weight:600;
letter-spacing:5px;
color:rgb(255, 255, 255);
font-family:Arial, Helvetica, sans-serif;
line-height:0;
text-align:center;
opacity:1;
display:block;
position:static;
}
.servicard-title.gjs-comp-selected{
box-sizing:inherit;
color:rgb(0, 0, 0);
font-family:Helvetica, serif;
font-size:medium;
}
#i1gr0x{
box-sizing:inherit;
}
#tgtext-16{
box-sizing:inherit;
}
#iokwmn{
color:rgb(0, 0, 0);
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
box-sizing:border-box;
font-style:normal;
font-variant-ligatures:normal;
font-variant-caps:normal;
font-weight:400;
letter-spacing:normal;
orphans:2;
text-align:left;
text-indent:0px;
text-transform:none;
white-space:normal;
widows:2;
word-spacing:0px;
-webkit-text-stroke-width:0px;
background-color:rgb(246, 246, 246);
text-decoration-style:initial;
text-decoration-color:initial;
}
#ibft7f{
box-sizing:inherit;
color:rgb(0, 0, 0);
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
font-weight:600;
}
#tgtext-5{
box-sizing:inherit;
}
#tgtext-6{
box-sizing:inherit;
}
.gjs-comp-selected{
box-sizing:inherit;
color:rgb(0, 0, 0);
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
}
.container-width{
width:90%;
max-width:1150px;
margin-top:0px;
margin-right:auto;
margin-bottom:0px;
margin-left:auto;
}
.bdg-sect{
padding-top:100px;
padding-bottom:100px;
font-family:Helvetica, serif;
background-color:rgb(250, 250, 250);
}
.bdg-title{
text-align:center;
font-size:1em;
margin-bottom:55px;
color:rgb(85, 85, 85);
}
.badges{
padding-top:20px;
padding-right:20px;
padding-bottom:20px;
padding-left:20px;
display:flex;
justify-content:space-around;
align-items:flex-start;
flex-wrap:wrap;
text-align:center;
}
.badge{
width:290px;
font-family:Helvetica, serif;
background-color:white;
margin-bottom:30px;
box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;
border-top-left-radius:3px;
border-top-right-radius:3px;
border-bottom-right-radius:3px;
border-bottom-left-radius:3px;
font-weight:100;
overflow-x:hidden;
overflow-y:hidden;
text-align:center;
}
.badge-header{
height:115px;
background-image:url("../images/blue-low-opacity.png"), url("../images/informatique-a20.jpg");
background-position-x:0%, 50%;
background-position-y:0%, 50%;
background-attachment:scroll, fixed;
overflow-x:hidden;
overflow-y:hidden;
}
.badge-name{
font-size:1.4em;
margin-bottom:5px;
}
.badge-role{
color:rgb(119, 119, 119);
font-size:1em;
margin-bottom:25px;
}
.badge-desc{
font-size:0.85rem;
line-height:20px;
}
.badge-avatar{
width:100px;
height:100px;
border-top-left-radius:100%;
border-top-right-radius:100%;
border-bottom-right-radius:100%;
border-bottom-left-radius:100%;
border-top-width:5px;
border-right-width:5px;
border-bottom-width:5px;
border-left-width:5px;
border-top-style:solid;
border-right-style:solid;
border-bottom-style:solid;
border-left-style:solid;
border-top-color:rgb(255, 255, 255);
border-right-color:rgb(255, 255, 255);
border-bottom-color:rgb(255, 255, 255);
border-left-color:rgb(255, 255, 255);
border-image-source:initial;
border-image-slice:initial;
border-image-width:initial;
border-image-outset:initial;
border-image-repeat:initial;
box-shadow:rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
margin-top:-75px;
position:relative;
}
.badge- .badge-foot{
color:rgb(255, 255, 255);
background-color:rgb(96, 149, 227);
padding-top:13px;
padding-bottom:13px;
display:flex;
justify-content:center;
}
.badge-link{
height:35px;
width:35px;
line-height:35px;
font-weight:700;
display:block;
border-top-left-radius:100%;
border-top-right-radius:100%;
border-bottom-right-radius:100%;
border-bottom-left-radius:100%;
margin-top:0px;
margin-right:10px;
margin-bottom:0px;
margin-left:10px;
position:static;
right:20px;
background-color:#ffffff;
text-align:center;
color:#a290a5;
border-radius:150px 150px 150px 150px;
opacity:1;
max-width:66px;
margin:0 15px 0 124px;
}
.bdg-title.gjs-comp-selected{
box-sizing:inherit;
outline-offset:-2px;
outline-color:rgba(170, 170, 170, 0.7);
outline-style:dashed;
outline-width:1px;
color:rgb(85, 85, 85);
font-family:Arial, Helvetica, sans-serif;
font-size:2em;
text-align:center;
margin-bottom:55px;
font-style:normal;
font-variant-ligatures:normal;
font-variant-caps:normal;
letter-spacing:normal;
orphans:2;
text-indent:0px;
text-transform:none;
white-space:normal;
widows:2;
word-spacing:0px;
-webkit-text-stroke-width:0px;
background-color:rgb(250, 250, 250);
text-decoration-style:initial;
text-decoration-color:initial;
}
.servicard-desc.gjs-comp-selected{
box-sizing:inherit;
}
#imjwk3{
color:rgb(0, 0, 0);
}
#ieud6o{
font-style:normal;
}
#ia0xfw{
font-style:normal;
}
#i9eozu{
width:100%;
height:1px;
margin-top:0px;
margin-right:auto;
margin-bottom:30px;
margin-left:auto;
background-color:rgb(68, 68, 68);
max-width:180px;
}
#ixmt6b{
box-sizing:inherit;
}
#i6lqs9{
color:rgb(101, 101, 101);
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size:15px;
}
#ij508j{
box-sizing:inherit;
}
#i4b3ct{
box-sizing:inherit;
}
#iau93k{
font-size:1em;
}
#i0y70k{
box-sizing:inherit;
}
#ip0eco{
box-sizing:inherit;
float:none;
display:inline !important;
}
#ih1xg{
clear:both;
}
#ilemv{
clear:both;
}
.h2-topbar{
margin-right:auto;
margin-left:auto;
height:auto;
width:100%;
padding-right:0px;
padding-left:0px;
padding-top:2px;
padding-bottom:2px;
opacity:1;
background-color:#1c2f4f;
}
.h2-topcontainer{
width:100%;
padding-left:10px;
padding-right:10px;
padding-bottom:2px;
padding-top:2px;
margin-right:auto;
margin-left:auto;
max-width:1200px;
}
.h2-topcolA{
float:left;
width:50%;
min-height:20px;
}
.h2-topcolB{
float:left;
width:50%;
min-height:20px;
text-align:right;
}
.h2-topdetails{
padding-right:10px;
padding-left:10px;
font-style:normal;
font-variant-caps:normal;
font-variant-ligatures:normal;
font-variant-numeric:normal;
font-variant-east-asian:normal;
font-weight:normal;
font-stretch:normal;
line-height:normal;
font-size:15px;
display:inline-block;
padding-top:2px;
padding-bottom:2px;
margin-top:4px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
font-family:Courier New, Courier, monospace;
color:#ffffff;
}
.h2-toplink{
display:inline-block;
padding-right:8px;
padding-left:8px;
min-height:20px;
min-width:20px;
padding-top:2px;
padding-bottom:2px;
}
.h2-topsocialicons{
color:black;
width:20px;
}
.h2-bar{
height:auto;
width:100%;
background-color:rgb(246, 246, 246);
box-shadow:rgb(222, 222, 222) 0px 5px 5px 3px;
padding-right:0px;
padding-left:0px;
padding-top:5px;
padding-bottom:5px;
margin-top:0px;
margin-right:auto;
margin-bottom:10px;
margin-left:auto;
}
.h2-barcontainer{
width:100%;
padding-left:10px;
padding-right:10px;
padding-bottom:10px;
padding-top:10px;
margin-right:auto;
margin-left:auto;
max-width:1200px;
}
.h2-barcolA{
float:left;
width:20%;
min-height:50px;
}
.h2-barcolB{
float:left;
width:80%;
min-height:50px;
}
*{
box-sizing:border-box;
}
.h2-dobitlogo.gjs-comp-selected{
width:183px;
height:56px;
}
#izs4fl{
color:black;
}
body{
background-color:rgb(255, 255, 255);
margin-top:0px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
}
.logo path{
pointer-events:none;
fill:none;
stroke-linecap:round;
stroke-width:7;
stroke:rgb(255, 255, 255);
}
.link{
color:#3b75c2;
transition-duration:0.6s;
transition-timing-function:ease;
transition-delay:initial;
transition-property:all;
}
.link:hover{
color:rgb(239, 223, 69);
transition-duration:0.6s;
transition-timing-function:ease;
transition-delay:initial;
transition-property:all;
}
.c9827.c9827-center{
margin-top:0px;
margin-right:auto;
margin-bottom:0px;
margin-left:auto;
width:51px;
height:32px;
}
.c9827-center{
margin-top:0px;
margin-right:auto;
margin-bottom:0px;
margin-left:auto;
display:block;
float:none;
}
.badge-foot{
background-color:#538cd8;
text-align:center;
}
.badge-body{
margin-top:35px;
margin-right:10px;
margin-bottom:35px;
margin-left:10px;
}
#is1yb3{
color:rgb(0, 0, 0);
font-family:Helvetica, serif;
font-size:15px;
}
#ijtn7h{
padding:10px;
font:15px Arial, Helvetica, sans-serif;
font-size:14px;
}
#ibakiv{
font-weight:600;
}
#ibnv2p{
font-weight:600;
}
@media (max-width: 992px){
.cor-autumn-about-text{
width:100%;
}
.cor-autumn-about-image{
width:100%;
text-align:center;
}
#ic0k4vv{
padding-top:25px;
padding-right:10px;
padding-bottom:10px;
padding-left:30px;
}
#ichp96i{
font-size:37px;
}
.cor-flex-title{
font-size:36px;
}
.cor-bdg-sect{
padding-top:60px;
padding-right:0px;
padding-bottom:60px;
padding-left:0px;
}
.cor-flex-sect{
padding-top:60px;
padding-right:0px;
padding-bottom:60px;
padding-left:0px;
}
#ic2ymn2{
padding-right:20px;
padding-left:20px;
}
#headback-bottom-box{
padding-top:60px;
padding-bottom:60px;
}
#headback-bottom-box{
padding-top:60px;
padding-bottom:60px;
}
#headback-bottom-box{
padding-top:60px;
padding-bottom:60px;
}
#headback-bottom-box{
padding-top:60px;
padding-bottom:60px;
}
#headback-bottom-box{
padding-top:60px;
padding-bottom:60px;
}
#headback-bottom-box{
padding-top:60px;
padding-bottom:60px;
}
#headback-bottom-box{
padding-top:60px;
padding-bottom:60px;
}
#headback-bottom-box{
padding-top:60px;
padding-bottom:60px;
}
#headback-bottom-box{
padding-top:60px;
padding-bottom:60px;
}
#headback-bottom-box{
padding-top:60px;
padding-bottom:60px;
}
#headback-bottom-box{
padding-top:60px;
padding-bottom:60px;
}
#headback-bottom-box{
padding-top:60px;
padding-bottom:60px;
}
#headback-bottom-box{
padding-top:60px;
padding-bottom:60px;
}
#headback-bottom-box{
padding-top:60px;
padding-bottom:60px;
}
#headback-bottom-box{
padding-top:60px;
padding-bottom:60px;
}
#headback-bottom-box{
padding-top:60px;
padding-bottom:60px;
}
#headback-bottom-box{
padding-top:60px;
padding-bottom:60px;
}
#headback-bottom-box{
padding-top:60px;
padding-bottom:60px;
}
.servicard{
border-top-left-radius:2px;
border-top-right-radius:1px;
border-bottom-right-radius:2px;
border-bottom-left-radius:1px;
top:-18px;
}
.anim-g282d{
text-align:center;
transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
}
.h2-barcolA{
width:100%;
text-align:center;
}
.h2-barcolB{
width:100%;
margin-top:-40px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
}
.h2-barcolA{
width:100%;
text-align:center;
}
.h2-barcolB{
width:100%;
margin-top:-40px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
}
.h2-barcolA{
width:100%;
text-align:center;
}
.h2-barcolB{
width:100%;
margin-top:-40px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
}
.h2-barcolA{
width:100%;
text-align:center;
}
.h2-barcolB{
width:100%;
margin-top:-40px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
}
.h2-barcolA{
width:100%;
text-align:center;
}
.h2-barcolB{
width:100%;
margin-top:-40px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
}
.h2-barcolA{
width:100%;
text-align:center;
}
.h2-barcolB{
width:100%;
margin-top:-40px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
}
.h2-barcolA{
width:100%;
text-align:center;
}
.h2-barcolB{
width:100%;
margin-top:-40px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
}
.h2-barcolA{
width:100%;
text-align:center;
}
.h2-barcolB{
width:100%;
margin-top:-40px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
}
}
@media (max-width: 480px){
#ic0k4vv{
padding-top:12px!important;
padding-right:10px!important;
padding-bottom:10px!important;
padding-left:10px!important;
font-size:24px!important;
}
#ic2ymn2{
padding-top:20px!important;
padding-right:20px!important;
padding-bottom:20px!important;
padding-left:20px!important;
}
#ichp96i{
font-size:22px!important;
line-height:30px!important;
}
#ic77sn5{
margin-top:20px!important;
margin-right:0px!important;
margin-bottom:20px!important;
margin-left:0px!important;
padding-top:20px!important;
padding-right:20px!important;
padding-bottom:20px!important;
padding-left:20px!important;
}
#icmowj3{
margin-top:5px!important;
margin-right:0px!important;
margin-bottom:5px!important;
margin-left:0px!important;
line-height:10px!important;
}
.cor-flex-title{
font-size:24px!important;
}
.cor-bdg-sect{
padding-top:40px!important;
padding-right:0px!important;
padding-bottom:40px!important;
padding-left:0px!important;
}
#iciv4dt{
padding-top:60px!important;
padding-right:20px!important;
padding-bottom:60px!important;
padding-left:20px!important;
}
.cor-flex-sect{
padding-top:40px!important;
padding-right:0px!important;
padding-bottom:40px!important;
padding-left:0px!important;
}
#ic2ymn2{
padding-right:10px!important;
padding-left:10px!important;
}
#headback-bottom-box{
padding-top:30px!important;
padding-bottom:30px!important;
padding-right:10px!important;
padding-left:10px!important;
}
#headback-bottom-box{
padding-top:30px!important;
padding-bottom:30px!important;
padding-right:10px!important;
padding-left:10px!important;
}
#headback-bottom-box{
padding-top:30px!important;
padding-bottom:30px!important;
padding-right:10px!important;
padding-left:10px!important;
}
#headback-bottom-box{
padding-top:30px!important;
padding-bottom:30px!important;
padding-right:10px!important;
padding-left:10px!important;
}
#headback-bottom-box{
padding-top:30px!important;
padding-bottom:30px!important;
padding-right:10px!important;
padding-left:10px!important;
}
#headback-bottom-box{
padding-top:30px!important;
padding-bottom:30px!important;
padding-right:10px!important;
padding-left:10px!important;
}
#headback-bottom-box{
padding-top:30px!important;
padding-bottom:30px!important;
padding-right:10px!important;
padding-left:10px!important;
}
#headback-bottom-box{
padding-top:30px!important;
padding-bottom:30px!important;
padding-right:10px!important;
padding-left:10px!important;
}
#headback-bottom-box{
padding-top:30px!important;
padding-bottom:30px!important;
padding-right:10px!important;
padding-left:10px!important;
}
#headback-bottom-box{
padding-top:30px!important;
padding-bottom:30px!important;
padding-right:10px!important;
padding-left:10px!important;
}
#headback-bottom-box{
padding-top:30px!important;
padding-bottom:30px!important;
padding-right:10px!important;
padding-left:10px!important;
}
#headback-bottom-box{
padding-top:30px!important;
padding-bottom:30px!important;
padding-right:10px!important;
padding-left:10px!important;
}
#headback-bottom-box{
padding-top:30px!important;
padding-bottom:30px!important;
padding-right:10px!important;
padding-left:10px!important;
}
#headback-bottom-box{
padding-top:30px!important;
padding-bottom:30px!important;
padding-right:10px!important;
padding-left:10px!important;
}
#headback-bottom-box{
padding-top:30px!important;
padding-bottom:30px!important;
padding-right:10px!important;
padding-left:10px!important;
}
#headback-bottom-box{
padding-top:30px!important;
padding-bottom:30px!important;
padding-right:10px!important;
padding-left:10px!important;
}
#headback-bottom-box{
padding-top:30px!important;
padding-bottom:30px!important;
padding-right:10px!important;
padding-left:10px!important;
}
#headback-bottom-box{
padding-top:30px!important;
padding-bottom:30px!important;
padding-right:10px!important;
padding-left:10px!important;
}
#is0fin{
position:static!important;
}
.h2-topcolA{
width:100%!important;
text-align:center!important;
}
.h2-topcolB{
width:100%!important;
text-align:center!important;
}
.h2-barcontainer{
padding-top:5px!important;
padding-bottom:5px!important;
}
.h2-topcolA{
width:100%!important;
text-align:center!important;
}
.h2-topcolB{
width:100%!important;
text-align:center!important;
}
.h2-barcontainer{
padding-top:5px!important;
padding-bottom:5px!important;
}
.h2-topcolA{
width:100%!important;
text-align:center!important;
}
.h2-topcolB{
width:100%!important;
text-align:center!important;
}
.h2-barcontainer{
padding-top:5px!important;
padding-bottom:5px!important;
}
.h2-topcolA{
width:100%!important;
text-align:center!important;
}
.h2-topcolB{
width:100%!important;
text-align:center!important;
}
.h2-barcontainer{
padding-top:5px!important;
padding-bottom:5px!important;
}
.h2-topcolA{
width:100%!important;
text-align:center!important;
}
.h2-topcolB{
width:100%!important;
text-align:center!important;
}
.h2-barcontainer{
padding-top:5px!important;
padding-bottom:5px!important;
}
.h2-topcolA{
width:100%!important;
text-align:center!important;
}
.h2-topcolB{
width:100%!important;
text-align:center!important;
}
.h2-barcontainer{
padding-top:5px!important;
padding-bottom:5px!important;
}
.h2-topcolA{
width:100%!important;
text-align:center!important;
}
.h2-topcolB{
width:100%!important;
text-align:center!important;
}
.h2-barcontainer{
padding-top:5px!important;
padding-bottom:5px!important;
}
.h2-topcolA{
width:100%!important;
text-align:center!important;
}
.h2-topcolB{
width:100%!important;
text-align:center!important;
}
.h2-barcontainer{
padding-top:5px!important;
padding-bottom:5px!important;
}
}
@keyframes fadeEffect{
0%{
opacity:0!important;
}
100%{
opacity:1!important;
}
0%{
opacity:0!important;
}
100%{
opacity:1!important;
}
0%{
opacity:0!important;
}
100%{
opacity:1!important;
}
0%{
opacity:0!important;
}
100%{
opacity:1!important;
}
0%{
opacity:0!important;
}
100%{
opacity:1!important;
}
0%{
opacity:0!important;
}
100%{
opacity:1!important;
}
0%{
opacity:0!important;
}
100%{
opacity:1!important;
}
0%{
opacity:0!important;
}
100%{
opacity:1!important;
}
0%{
opacity:0!important;
}
100%{
opacity:1!important;
}
0%{
opacity:0!important;
}
100%{
opacity:1!important;
}
0%{
opacity:0!important;
}
100%{
opacity:1!important;
}
0%{
opacity:0!important;
}
100%{
opacity:1!important;
}
0%{
opacity:0!important;
}
100%{
opacity:1!important;
}
}
@media